.rect-radio--root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 12px;
  border: 1px solid blue;
  background: lightblue;
  border-radius: 8px;
  height: 48px;
  cursor: pointer;
}

.rect-radio--root:has(input:checked) {
  border: 1px solid red;
  background: pink;
}

.rect-radio--input {
  margin-right: 8px;
}

.rect-radio--text {
  height: 24px;
  line-height: 24px;
}
