.rect-radio--root {
  position: relative;
  display: flex;
  padding: 8px 12px;
  border: 1px solid blue;
  background: lightblue;
  border-radius: 8px;
  height: 48px;
  cursor: pointer;
}

.rect-radio--root:has(input:checked) {
  border: 1px solid red;
  background: pink;
}

.rect-radio--input {
  left: 0;
  top: 0;
  opacity: 0;
  background: transparent;
}

.rect-radio--text {
  height: 24px;
  line-height: 24px;
}
